<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DeleteUnusedDocAcumatica.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <DeleteUnusedDocAcumatica.Properties.Settings>
            <setting name="serverName" serializeAs="String">
                <value>THINK-HEF\SQLDEV2019</value>
            </setting>
            <setting name="databaseName" serializeAs="String">
                <value>AcumaticaSGLILive</value>
            </setting>
            <setting name="userDb" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="passDb" serializeAs="String">
                <value>Admin2022</value>
            </setting>
            <setting name="loginAcumatica" serializeAs="String">
                <value>acumatica</value>
            </setting>
            <setting name="passAcumatica" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="DeleteUnusedDocAcumatica_ServicesAcum_Screen"
                serializeAs="String">
                <value>http://localhost:82/AcumaticaSGLILive/Soap/SGLI.asmx</value>
            </setting>
            <setting name="serviceUrl" serializeAs="String">
                <value>http://localhost:82/AcumaticaSGLILive/Soap/SGLI.asmx</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>T+4Ai6O3CR0kJYxCgXy2jA==</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>T+4Ai6O3CR0kJYxCgXy2jA==</value>
            </setting>
        </DeleteUnusedDocAcumatica.Properties.Settings>
    </applicationSettings>
</configuration>